version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "8085:8080"
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
    # Uncomment if you want to persist data or logs
    # volumes:
    #   - ./backend/data:/app/data
    #   - ./backend/logs:/app/logs

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped
