version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "8085:8080"
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    # Uncomment if you want to persist data or logs
    # volumes:
    #   - ./backend/data:/app/data
    #   - ./backend/logs:/app/logs
